<html>
<head>
  <title>Autenticación de Múltiples Factores</title>
</head>
<body>
  <h1>Autenticación de Múltiples Factores</h1>
  <p>Por favor, introduce el código de verificación de tu aplicación de autenticación:</p>
  <h1>{{ code }}</h1>
</html>