<!DOCTYPE html>
<html>
<head>
  <title>Verificación de Correo Electrónico</title>
</head>
<body>
  <h1>Verificación de Correo Electrónico</h1>
  <p>Por favor, haz clic en el siguiente enlace para verificar tu correo electrónico:</p>
  <a href="{{url}}">Verificar Correo Electrónico</a>
</body>
</html>